# PORT=3000
# DB_USER=postgres
# DB_PASSWORD="Y1234"
# DB_HOST=localhost
# DB_PORT=5432
# DB_DATABASE=spa_tienda_mascotas
# JWT_SECRET=petspa_jwt_secret_2026
# ADMIN_CREATION_KEY=petspa_admin_key_2026
# MAIL_HOST=
# MAIL_PORT=587
# MAIL_USER=
# MAIL_PASS=
# MAIL_FROM=petspa@example.com

# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=spa_tienda_mascotas
DB_USER=tu_usuario
DB_PASSWORD=tu_password

# JWT
JWT_SECRET=c293760af3e44ac777a103bee8f73c35aed7cad6c71ed9d94f8cefb601498c53

# Admin seed (opcional, para crear admin inicial)
ADMIN_EMAIL=admin@petspa.com
ADMIN_PASSWORD=Admin123!
ADMIN_NAME=Administrador PetSpa

# Llave para crear admins
ADMIN_CREATION_KEY=admin_creation_2026

# Email SMTP
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=yhercobarco0@gmail.com
MAIL_PASS=vbkszuwkvnmbcfmi
MAIL_FROM=yhercobarco0@gmail.com

# Google OAuth
GOOGLE_CLIENT_ID=1060703810535-lb1i4upatckp3taivn54jj4ga25eklv6.apps.googleusercontent.com